@import "tailwindcss";

/* Configuración de fuentes personalizadas */
:root {
  --font-kaushan: var(--font-kaushan);
  --font-fraunces: var(--font-fraunces);

  --background: #ffffff;
  --foreground: #171717;
  --prim-color: #ff679a;
  --second-color: #00D6E4;
  --third-color: #87a143;
  --fourth-color: #FFC935;
  --orange-color: #fe8f00;
  --white-color: #fff;
  --black-color: #000;
}

/* Variables CSS personalizadas adicionales */
body {
  font-family: var(--font-fraunces), serif;
}

/* Clases utilitarias para las fuentes */
.font-kaushan {
  font-family: var(--font-kaushan), cursive;
}

.font-fraunces {
  font-family: var(--font-fraunces), serif;
}

.logo {
  text-shadow: 2px -2px 0px var(--black-color);
}


/* Hero */
/* .header {
  width: 100%;
  height: 100vh;
  background-color: var(--prim-color);
  position: relative;
} */

/* .header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--second-color);
  mask-image: url(../assets/hero-mask.png);
  mask-repeat: no-repeat;
  mask-position: top right;
  mask-size: 35% 90%;
} */

/* .hero-title {
  text-shadow: 5px -2px 0 var(--color-white);
  color: var(--fourth-color);
  font-style: italic;
  font-size: 10rem;
  line-height: 10rem; 
} */

/* .hero-title2 {
  color: var(--second-color);
} */

/* .elm {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
} */

/* .elm1 {
  top: 60%;
  left: 75%;
  transform: translate(-50%, -50%) rotate(180deg);
} */

/* .elm2 {
  top: 10%;
  left: 40%;
  animation: Anim-TB 3s forwards infinite;
} */

/* .elm4 {
  width: 100px;
  top: 16%;
  left: 75%;
  animation: Anim-TB 5s forwards infinite;
  z-index: 1;
} */

/* .elm5 {
  width: 60px;
  top: 16%;
  left: 10%;
  animation: Anim-TB 3s forwards infinite !important;
  z-index: 1;
} */

/* .elm6 {
  width: 420px;
  height: 420px;
  top: 47%;
  left: 27%;
  object-fit: contain;
} */

/* .elm7 {
  width: 250px;
  height: 250px;
  top: 75%;
  left: 12%;
  object-fit: contain;
} */

/* .elm8 {
  width: 180px;
  top: 25%;
  left: 88%;
  z-index: 1;
  animation: Anim-half-rotate 10s linear infinite !important;
} */

/* .elm9 {
  top: 80%;
  left: 80%;
  width: 300px;
} */

/* .elm10 {
  top: 80%;
  left: 30%;
  width: 120px;
} */

@keyframes Anim-TB {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes Anim-half-rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes Anim-scale {
  0% {
    transform: rotate(-120deg) scale(1);
  }

  50% {
    transform: rotate(-120deg) scale(1.2);
  }

  100% {
    transform: rotate(-120deg) scale(1);
  }
}

.nav {
  z-index: 9999 !important;
}

/* Flavors */

.section {
  position: relative;
  width: 100%;
}

.favorite-flavors {
  background-color: var(--fourth-color);
}

.section::after {
  content: "";
  position: absolute;
  top: 18%;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: var(--fourth-color);
  mask-image: url(../assets/curv-candy-img.png);
  mask-repeat: no-repeat;
  mask-position: 100% 30%;
  z-index: 0;
}

/* Divider con png */
.section::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: var(--prim-color);
  mask-image: url(../assets/wave-haikei-3.png);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%; 
  z-index: 22;
}

/* Divider con clip-path */
/* .section::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: 60%;
  background-color: var(--prim-color);
  clip-path: path('M 0,0 L 0,200 Q 150,280 300,200 Q 450,120 600,200 Q 750,280 900,200 Q 1050,120 1200,200 Q 1350,280 1500,200 Q 1650,120 1800,200 Q 1950,280 2100,200 L 2100,0 Z');
  z-index: 22;
} */

.section-elm {
  position: absolute;
  top: 5%;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.section-elm1 {
  left: 5%;
  animation: Anim-slow-rotate 10s forwards linear infinite;
}

.section-elm2 {
  width: 250px;
  object-fit: contain;
  top: 0;
  right: 0;
  animation: Anim-TB 5s forwards linear infinite;
}

@keyframes Anim-slow-rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.flavor-swiper {
  padding-top: 2% !important;
} 

.flavor-img {
  position: relative;
}

.flavor-img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: var(--third-color);
  mask-image: url(../assets//Fruit-Juice-card-mask.png);
  mask-repeat: no-repeat;
  mask-position: top;
  mask-size: 100% 102%;
  z-index: -1;
  transition: .3s
}

.flavor-card:hover .flavor-img::after {
  transform: translate(-50%, -50%) scale(1.04)
}

.flavor-img2::after {
  background-color: var(--orange-color) !important;
}

.flavor-img3::after {
  background-color: var(--prim-color) !important;
}

.flavor-img4::after {
  background-color: #c18bff !important;
}

.flavor-img5::after {
  background-color: #F19D30 !important;
}

.flavor-img6::after {
  background-color: #e4e3e1 !important;
}

.flavor-img7::after {
  background-color: #eeaf67 !important;
}

.section-fruit {
  position: relative;
    width: 100%;
}


/* Divider con clip-path */
.section-fruit::before {
  content: "";
  position: absolute;
  top: -1px;
  /* Mueve 1px hacia arriba */
  left: -1px;
  /* Mueve 1px hacia la izquierda */
  width: calc(100% + 2px);
  /* Extiende el ancho */
  height: 60%;
  background-color: var(--fourth-color);
  clip-path: path('M 0,0 L 0,40 Q 250,80 500,40 T 1000,40 T 1500,40 T 2000,40 L 2000,0 Z');
  z-index: 22;
}